.fotoPerfil a .iconcamera{
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 128px;
}
.datos{
  width: 220px;
  margin: auto;
}
.datos2{
  color: white;
  font-size: 18px;
}
.datos .hola{
  color: white;
}
/*Boton cerrar sesión*/
.cerrar{
  color: white !important;
  background-color: #EB4343 !important;
  border: solid   #EB4343 !important;
}